body{
  margin: 0;
}

div{
  background-color: #E4F9F5
}

.top-container{
  width
}

.middle-container{
  width: 200px;
  height:200px;
  background-color: red;}

.bottom-container{
    width: 200px;
    height:200px;
    background-color: blue;}
